<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="ISO-8859-1"></meta>
    <title>Insert New Division</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">

<div>
    <form name="form" action="#" th:action="@{/division/create}" th:object="${division}"
          method="post">
        <label for="name">Divison Name</label> <input type="text" id="divisionName" placeholder="Division Name" required=""
                                                       th:field="*{name}" />

     <input type="submit" value="Create" />
    </form>
</div>

</body>
</html>