<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="ISO-8859-1"></meta>
    <title>Insert New Product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">

<div>
    <form name="form" action="#" th:action="@{/upazilla/create}" th:object="${upazilla}"
          method="post">
        <label for="name">Upazilla Name</label> <input type="text" id="name" placeholder="District Name" required=""
                                                       th:field="*{name}" />

        <label for="type">District</label>
        <select
                th:field="*{district}">
            <option
                    th:each="dist : ${divisions}"
                    th:value="${dist.id}" th:text="${dist.name}">District
            </option>
        </select> <input type="submit" value="Create" />
    </form>
</div>

</body>
</html>