<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1"></meta>
<title>Insert New Product</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">

	<div>
		<form name="form" action="#" th:action="@{/product/create}" th:object="${product}"
			method="post">
			<label for="name">Product Name</label> <input type="text" id="name" placeholder="Product Name" required=""
				th:field="*{productName}" />

			<label for="name">Product Price</label> <input type="text" id="name"  placeholder="Product Name" required=""
														  th:field="*{productPrice}" />
			<label for="type">Type</label>
				<select
				th:field="*{pType}">
				<option
					th:each="productType : ${T(com.shaokat.model.ProductType).values()}"
					th:value="${productType}" th:text="${productType.typeName}">product
					Types</option>
			</select> <input type="submit" value="Create" />
		</form>
	</div>

</body>
</html>