<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1"></meta>
<title>Insert New Product</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">

	<div>
		<form name="form" action="#" th:action="@{/district/create}" th:object="${district}"
			method="post">
			<label for="name">District Name</label> <input type="text" id="name" placeholder="District Name" required=""
				th:field="*{name}" />

			<label for="type">Division</label>
				<select
				th:field="*{division}">
				<option
					th:each="d : ${divisions}"
					th:value="${d.id}" th:text="${d.name}">Divison
					</option>
			</select> <input type="submit" value="Create" />
		</form>
	</div>

</body>
</html>